.barberia-name{
    position: absolute;
width: 375px;
height: 83px;
left: 8px;
top: 15px;

font-family: Porter Sans Block;
font-style: normal;
font-weight: normal;
font-size: 29px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #2E294E;

border: 3px solid #C5D86D;
}